/*General*/
*{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
body{
	margin-left:5px;
	margin-right:5px;
}
.title{
	text-align:left;
}
hr{
	border-color:black;
}
/*Menu*/
#Topnav,#Topnav,.footer button{
	display:none;
}
.breadcrumb{
	text-align:center;
	margin-bottom:1em;
 }
  /*Tables*/
 table{
	  border-radius:0px;
  }
td, th {
  border: 1px solid black;
  text-align: left;
}
.section caption{
	color:black;
	font-size: 23px;
}
.statistics{
	border-radius:0px;
	margin-top:10px;
	margin-bottom:10px;
}
 /*Home*/
 .description .overlay{
	 color:black;
	 padding: 0px;
	 font-size:1.0em;
 }
 .section{
	 padding:0px;
 }
 .teamMember{
	border-color: black;
 }
 .memberName{
	 text-align:center;
 }
 /*View ArtWork*/
 .img-magnifier-glass{
	width:0px;
	height:0px;
 }
 .descriptionTitle{
	 color:black;
 }
 #description-comments{
	 border:none;
 }
 .comment{
    border-radius: 0.5em;
	border:solid 1px gray;
    padding: 0.5em;
 }
 
 #comment-btn,#description-btn {
    background-color: #80808080;
    color: white;
    padding: 0.5em;
    border: none;
}
#main-description{
	padding-top:10px;
}
 
 
 
 
 
 
 /*footer*/
 .footer
 {
	 color:black;
 }
 #scrollToTop{
	 background-color:transparent;
	 color:transparent;
 }
